body{
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .logo img {
    height: 65px;
    width: auto;
    top: 25px;
    transition: transform 0.3s ease;
  }

  .logo img:hover {
    transform: scale(1.1);
  }

  .section img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-grow: 1;
  }

  .nav-links li {
    margin-right: 50px;
  }

  .nav-links li:last-child {
    margin-right: 0;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
  }

  .nav-links a:hover {
    color:  #EA601A;
  }


.tomato-bar {
    background-color:  #EA601A;
    width: 100%;
    height: 50px;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
  }
  
  .text {
    flex: 1;
    color: white;
    text-align: center;
  }
  
  .image {
    margin-left: 20px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }
  

  /* csdff */
  .section {
    position: relative;
  }
  
  .image-container {
    display: flex;
    align-items: center;
  }
  
  .card {
    position: absolute;
    width: 550px;
    height: 475px;
    left: -13px;
    top: -1px;
    background: rgba(18, 17, 15, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  .card h2.title {
    width: 100%;
    height: 118px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .card p.description {
    width: 100%;
    height: 135px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .card h2.number {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    margin: 0;
  }
  
  .card h2.days {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
  }
  
  .card button.orange-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: -20px;
  }
  
  .card button.orange-button:hover {
    background-color: darkorange;
  }
  .card-image {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  

  
/* footer */
footer {
  position: fixed;
  width: 100%;
  height: 110px;
  left: 0;
  bottom: 0;
  background: #12110F;
}

.footer-container {
  width: 703px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.social-icons {
  display: flex;
}

.icon {
  color: orange;
  font-size: 24px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.icon:last-child {
  margin-right: 0;
}

.icon:hover {
  color: darkorange;
}

/* Movil */

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .card {
    width: 90%;
    left: 5%;
  }
}

