.grid-container {
  display: grid;
  grid-template-columns: 20% 40%;
  justify-content: center;
  margin-bottom: 2rem;
  max-width: 90%;
  margin: 1rem auto;
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.grid-item img {
  height: 3rem;
  width: 3rem;
}
.grid-item p {
  text-align: justify;
  font-size: 20px;
  font-weight: 700;
  color: var(--wh-txt);
}
